---
import { getImage, Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import architecturalDesign from "@assets/architectural-design.jpg";
const ArchitecturalDesign = await getImage({
  src: architecturalDesign,
  format: "webp",
  height: 400,
  width: 800,
});
import Consultation from "@components/Consultation.astro";
import CTA from "@components/CTA.astro";
import Button from "@components/Button.astro";
import { Icon } from "astro-icon";

const architects = [
  {
    name: "Dean da Cruz",
    image: "https://placehold.co/400x400",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur sequi temporibus quae. Saepe aliquam, temporibus autem illum tempore ducimus nulla minima accusamus animi excepturi.",
    images: [
      "https://images.pexels.com/photos/18165273/pexels-photo-18165273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/17963821/pexels-photo-17963821/free-photo-of-nature-summer-garden-leaf.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/18015250/pexels-photo-18015250/free-photo-of-the-tallest-stone-sculpture-in-europe.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    ],
    email: "connect@gavinpereira.in",
    website: "//gavinpereira.in",
  },
  {
    name: "Studio",
    image: "https://placehold.co/400x400",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur sequi temporibus quae. Saepe aliquam, temporibus autem illum tempore ducimus nulla minima accusamus animi excepturi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur sequi temporibus quae. Saepe aliquam, temporibus autem illum tempore ducimus nulla minima accusamus animi excepturi.",
    images: [
      "https://images.pexels.com/photos/18165273/pexels-photo-18165273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/17963821/pexels-photo-17963821/free-photo-of-nature-summer-garden-leaf.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/18015250/pexels-photo-18015250/free-photo-of-the-tallest-stone-sculpture-in-europe.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    ],
    email: "aaf001@chowgules.ac.in",
    website: "",
  },
  {
    name: "Charles D'souza",
    image: "https://placehold.co/400x400",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur sequi temporibus quae. Saepe aliquam, temporibus autem illum tempore ducimus nulla minima accusamus animi excepturi.",
    images: [
      "https://images.pexels.com/photos/18165273/pexels-photo-18165273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/17963821/pexels-photo-17963821/free-photo-of-nature-summer-garden-leaf.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/18015250/pexels-photo-18015250/free-photo-of-the-tallest-stone-sculpture-in-europe.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    ],
    email: "",
    website: "//reginamundischool.com",
  },
  {
    name: "Anish John",
    image: "https://placehold.co/400x400",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam pariatur sequi temporibus quae. Saepe aliquam, temporibus autem illum tempore ducimus nulla minima accusamus animi excepturi.",
    images: [
      "https://images.pexels.com/photos/18165273/pexels-photo-18165273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/17963821/pexels-photo-17963821/free-photo-of-nature-summer-garden-leaf.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "https://images.pexels.com/photos/18015250/pexels-photo-18015250/free-photo-of-the-tallest-stone-sculpture-in-europe.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    ],
    email: "admin@reginamundischool.com",
    website: "//reginamundischool.com",
  },
];
---

<BaseLayout title="Architectural Design - Buildluxe">
  <section
    class="bg-cover bg-no-repeat bg-center relative"
    style=`background-image:url(${ArchitecturalDesign.src})`
  >
    <div class="h-full w-full bg-black/30">
      <div
        class="container mx-auto px-5 py-10 lg:py-20 min-h-[40vh] lg:min-h-[70vh] flex items-center justify-center"
      >
        <h1
          class="text-white text-balance text-center uppercase drop-shadow-4xl"
        >
          <p class="font-black">Architecture</p>
          <p class="font-thin">& design</p>
        </h1>
      </div>
    </div>
  </section>
  <section class="px-4 lg:px-12 bg-neutral-100">
    <div
      class="container mx-auto p-8 lg:p-16 bg-white shadow-md relative bottom-12 lg:bottom-28 grid lg:grid-cols-2 gap-4 lg:gap-28"
    >
      <h2 class="uppercase">
        <p class="font-thin">Trusted architects</p>
        <p class="font-black">in Goa</p>
      </h2>
      <p>
        Utilizing the latest in design, materials, and smart home integration,
        we create functional villas with convenience and style. With years of
        experience in creating award-winning designs, our architects team have
        left an incredible mark on Goa, and beyond.
      </p>
    </div>
  </section>

  {
    architects.map((architect, i) => (
      <section class="even:bg-neutral-50">
        <div class="container mx-auto px-5 py-10 lg:py-20 flex max-lg:flex-col gap-8 mt-12 lg:even:flex-row-reverse">
          <div class="lg:w-1/2">
            <img
              src={architect.image}
              alt=""
              class="h-32 aspect-square rounded-md"
            />
            <h2 class="mt-4">{architect.name}</h2>
            <p class="mt-2 max-w-xl">{architect.description}</p>
            <div class="flex items-end gap-2 mt-8">
              {architect.email && (
                <Button
                  classes="flex items-center gap-2 justify-center"
                  link={`mailto:${architect.email}`}
                >
                  <Icon name="mdi:email" height={25} />
                  <span>Email</span>
                </Button>
              )}
              {architect.website && (
                <Button
                  classes="flex items-center gap-2 justify-center"
                  link={architect.website}
                >
                  <Icon name="mdi:internet" height={25} />
                  <span>Website</span>
                </Button>
              )}
            </div>
          </div>
          <div class="lg:w-1/2">
            <section
              id="image-carousel"
              class={`splide splide-${i} !p-0`}
              aria-label="Beautiful Images"
            >
              <div class="splide__track">
                <ul class="splide__list">
                  {architect.images.map((image) => (
                    <li class="splide__slide">
                      <img
                        src={image}
                        alt=""
                        class="object-cover w-full h-96"
                      />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          </div>
        </div>
      </section>
    ))
  }

  <Consultation />
  <CTA />

  <script>
    import Splide from "@splidejs/splide";
    [0, 1, 2, 3].forEach((i) =>
      new Splide(`.splide-${i}`, {
        pagination: false,
        arrows: false,
        type: "loop",
        autoplay: true,
        interval: 1500,
      }).mount()
    );
    import "@splidejs/splide/css";
    import "@splidejs/splide/css/sea-green";
  </script>
</BaseLayout>
